.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0;
    direction: ltr;
    cursor: pointer;
    font-size: 200px;
    margin: 0px;
}
.form-control
{
    text-align: center;
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
.boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
}